/* General Layout */
.map-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    position: relative;
}

.coordinates-input {
    margin-bottom: 15px;
}

.coordinates-input input {
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #617A55;
}

/* Light earthy green */
.notification-bar {
    width: 100%;
    background-color: #e0e7e4;
    padding: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Section Headings */
.section-heading {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #2c5f2d; /* Dark green */
}

/* Historical Data Section */
.historical-dates {
    flex: 1;
}

.date-slider {
    display: flex;
    gap: 10px;
}

.date-slider-btn {
    background-color: #8db596; /* Muted green */
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.date-slider-btn:hover {
    background-color: #617A55; /* Darker green on hover */
}

/* Toggle Options */
.toggle-options {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.toggle-select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
    cursor: pointer;
}

/* Popup Styling */
.popup {
    position: absolute;
    width: 65vw;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 1000;
}

.popup-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.popup-heading {
    font-size: 18px;
    font-weight: bold;
    color: #2c5f2d; /* Dark green */
    margin-bottom: 15px;
}

.popup label {
    display: block;
    margin-top: 10px;
    color: #2c5f2d;
    font-weight: bold;
}

.popup input[type="text"],
.popup select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #617A55;
    border-radius: 5px;
}

.notification-time-container {
    display: flex;
    gap: 10px;
}

.notification-time-input {
    border: 1px solid #617A55;
    border-radius: 5px;
    margin: 5px 0px 10px;
    padding-left: 10px;
}

/* Disable background interaction */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 50;
}

/* Submit Buttons */
.submit-btn,
.latlong-submit-btn {
    background-color: #2c5f2d;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 15px;
}
.submit-btn:hover,
.latlong-submit-btn:hover {
    background-color: #3d6643; /* Darker green on hover */
}

/* Reset Button */
.reset-btn {
    background-color: #546155;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 15px;
    margin-left: 5px;
}
.reset-btn:hover {
    background-color: #748375; /* Darker green on hover */
}

/* Reset Button */
.other-btn {
    background-color: #46587c;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 15px;
    margin-left: 5px;
}
.other-btn:hover {
    background-color: #384661; /* Darker green on hover */
}


/* Map Wrapper */
.map-wrapper {
    width: 100%;
    max-width: 1510px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.table-scroll {
    max-height: 300px; /* Limit the display to fit within a reasonable height */
    overflow-y: auto;  /* Enable vertical scrolling */
    margin-bottom: 20px;
}

.soft-bordered-table {
    width: 100%;
    border-collapse: collapse;
}

.soft-bordered-table th,
.soft-bordered-table td {
    border: 1px solid #ddd; /* Soft border */
    padding: 10px;
    text-align: center;
}

.soft-bordered-table th {
    background-color: #e0e7e4; /* Light earthy green for headers */
    color: #2c5f2d; /* Dark green text for headers */
}

.soft-bordered-table tr:nth-child(even) {
    background-color: #f9f9f9; /* Alternate row coloring */
}
